.masterhead {
  background-color: rgba(255, 99, 71, 1);
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 30px;
}
.pick:hover {
  background-color: #808080 !important;
}
.pick:visited {
  color: #C0C0C0 !important;
}
#twitter-posts {
  height: 500px;
  width: 250px;
}
#title {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 200px;
}
